---
import GroupSelection from "../components/GroupSelection";
import Layout from "../layouts/Layout.astro";
import Calendar from "../components/Calendar.tsx";
import { Overlay, Backdrop } from "../components/Sidebar";
---

<Layout title="HTWK Stundenplan">
  <div
    class="transition-transform motion-reduce:transition-none ease-in-out duration-250 h-full flex relative"
  >
    <Overlay client:only />

    <div class="flex-grow flex flex-col">
      <Backdrop client:only />
      <!-- <GroupSelection client:load /> -->
      <Calendar client:only />

      <div
        class="z-50 max-w-sm top-0 left-0 px-4 py-3 absolute hidden shadow-md rounded-md bg-white text-sm"
        id="popover"
      >
        <div class="flex gap-2 justify-between">
          <span id="title" class="font-bold">Title</span>
          <button id="close_btn" class="w-5 h-5">✕</button>
        </div>
        <div id="descr"></div>

        <div class="pt-2">
          <div id="rooms"></div>
          <div id="staff"></div>
          <div id="kind"></div>
          <div id="time"></div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .fc-event:hover {
    cursor: pointer;
  }

  .fc-header-toolbar {
    padding-inline: 0.5rem;
    margin-bottom: 1rem !important;
  }

  @media (max-width: 768px) {
    .fc-toolbar-chunk:nth-of-type(2) {
      display: none !important;
    }
  }

  @media (max-width: 445px) {
    .fc-header-toolbar {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
</style>
