---
import Layout from "../layouts/Layout.astro";
import { Inner } from "../components/Inner";
---

<Layout title="HTWK Stundenplan">
  <div
    class="transition-transform motion-reduce:transition-none ease-in-out duration-250 h-full flex relative"
  >
    <Inner client:only />
  </div>
</Layout>

<style is:global>
  .fc-event:hover {
    cursor: pointer;
  }

  .fc-header-toolbar {
    padding-inline: 0.5rem;
    margin-bottom: 1rem !important;
  }

  @media (max-width: 768px) {
    .fc-toolbar-chunk:nth-of-type(2) {
      display: none !important;
    }
  }

  @media (max-width: 445px) {
    .fc-header-toolbar {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
</style>
