---
import Layout from "../layouts/Layout.astro";
import { allFaculties, allSubjects } from "../scripts/faculties.ts";

const subjects = await allSubjects("http://localhost:5000/faculties");
---

<Layout title="HTWK Stundenplan">
  <main class="h-full">
    <div class="p-2 grid grid-cols-[auto_1fr] gap-2 md:flex md:gap-4">
      <label for="subject_select">Studiengang</label>
      <select
        name="subject"
        id="subject_select"
        class="w-full px-4 py-2 rounded-md text-white bg-slate-700"
      >
        {subjects.map(({ name, id }) => <option id={id}>{name}</option>)}
      </select>

      <label for="group_select" class="text-center align-middle">
        Seminargruppe
      </label>
      <select
        name="group"
        id="group_select"
        class="w-full px-4 py-2 rounded-md text-white bg-slate-700"
      >
        <option selected disabled>Bitte wähle einen Studiengang</option>
      </select>
    </div>

    <div id="calendar" class="relative h-full max-h-full"></div>
    <div
      class="z-50 max-w-sm top-0 left-0 px-4 py-3 absolute hidden shadow-md rounded-md bg-white text-sm"
      id="popover"
    >
      <div class="flex gap-2 justify-between">
        <span id="title" class="font-bold">Title</span>
        <button id="close_btn" class="w-5 h-5">✕</button>
      </div>
      <div id="descr"></div>

      <div class="pt-2">
        <div id="rooms"></div>
        <div id="kind"></div>
        <div id="time"></div>
      </div>
    </div>
  </main>
</Layout>

<script>
  import "../components/Calendar.ts";
  // document.addEventListener("DOMContentLoaded", () =>
  // );
</script>
