---
import Layout from "../layouts/Layout.astro";

type Event = {
  name: string;
  notes: string;
  weekday: Weekday;
  weeks:
    | { Single: number }
    | { Multiple: Array<number> }
    | { Range: { start: number; end: number } };
  start: [number, number, number, number];
  end: [number, number, number, number];
};

enum Weekday {
  Monday = 1,
  Tuesday,
  Wednesday,
  Thursday,
  Friday,
  Saturday,
  Sunday,
}

const res = await fetch("http://localhost:5000/events/23INB-3");
const events: Array<Event> = await res.json();

const events_on_days: Map<Weekday, Event[]> = new Map([
  [Weekday.Monday, []],
  [Weekday.Tuesday, []],
  [Weekday.Wednesday, []],
  [Weekday.Thursday, []],
  [Weekday.Friday, []],
  [Weekday.Saturday, []],
  [Weekday.Sunday, []],
]);
for (const event of events) {
  events_on_days.get(event.weekday)?.push(event);
}
---

<Layout title="HTWK Stundenplan">
  <main class="h-full">
    <div id="calendar" class="relative h-full max-h-full"></div>
    <div
      class="z-50 max-w-sm top-0 left-0 px-4 py-3 absolute hidden shadow-md rounded-md bg-white"
      id="popover"
    >
      <div id="title" class="font-bold">Title</div>
      <div id="descr">Description</div>
      <div id="time">00:00 - 23:59</div>
    </div>
  </main>

  <script>
    import "../components/Calendar.ts";
  </script>
</Layout>
